{% include setup.html %}
<div class="main-container">
    <!-- <div class="panel horizontal border-bottom-fine-dotted-line">
        这里是一个个人书架，存储着个人收藏的书籍。
    </div> -->

    <div class="panel vertical search">
        <div class="panel horizontal">
        <input type="text" id="search_input" /> <button class="button" onclick="search_books()">搜索</button>
        </div>
        
        <div class="panel horizontal">
            💡 这里是一个个人书架，存储着个人收藏的书籍。
        </div>
        <input type="text" style="display:none;" id="search_data_url" value="{{namespace}}/data/books.json?v={{site.github.build_revision}}"/>

        <script>
            window.onload = function() {
                axios.get(document.getElementById("search_data_url").value)
                .then( function(response){
                    var options = {
                        shouldSort: true,
                        threshold: 0.6,
                        location: 0,
                        distance: 100,
                        maxPatternLength: 32,
                        minMatchCharLength: 1,
                        keys: [
                            "name","author"
                        ]
                    };

                    var data =response.data

                    if(data.length >0){
                        document.getElementById("show_newbook").innerHTML = "";
                        for (let index = 0; index < 5; index++) {
                            const element = data[index];
                            if (element){
                                add_bookitem(element,"show_newbook");
                            }else {
                                break;
                            }
                        }
                    }
                    window.fuse = new Fuse(data, options);
                })
            }
            var notfound = function(){
                var obj = document.getElementById("search_book_panel");
                obj.setAttribute("style","display:block;")
                var obj = document.getElementById("search_book");
                obj.innerHTML = "没有搜索到相应书籍"
            }
            var add_bookitem = function(data,pid){
                var panel = document.getElementById(pid);
                var html = "";
                html = html + "<span>书名：<a>"+data.name+"</a></span>&nbsp;&nbsp;|&nbsp;&nbsp;";
                html = html + "<span id='"+data.author+"'>作者：<a>"+data.author+"</a></span>&nbsp;&nbsp;|&nbsp;&nbsp;";
                //
                create_tip_tag(data.author)
                html = html + "<span>格式：";
                    
                    for (let index = 0; index < data.expand.length; index++) {
                        const element = data.expand[index];
                        html = html + '<a title="下载" href="'+element.url+'">'+element.name+'</a>';
                        if (index < data.expand.length-1){html = html + "、";}
                    }
                html = html + "</span>"
                html = html + "<span style='right: 0;position: absolute;'>上传时间："+get_date(data.update)+"</span>";

                panel.innerHTML = panel.innerHTML + '<div class="panel horizontal border-bottom-fine-dotted-line">'+html+'</div>'
            }

            var create_tip_tag = function addScript( id ) {
                var script = document.createElement("script");
                script.type = "text/javascript";
                script.appendChild(document.createTextNode('tippy("#'+id+'", {content: "'+id+'"});'));
                document.body.appendChild(script);
            }

            var search_books = function() {
                var text = document.getElementById("search_input").value;
                if(window.fuse){
                    var result = window.fuse.search(text);
                            
                    if(result && result.length >0){
                        var obj = document.getElementById("search_book_panel");
                        obj.setAttribute("style","display:block;")
                        document.getElementById("search_book").innerHTML = "";
                        for (let index = 0; index < result.length; index++) {
                            const element = result[index];
                            if (element){
                                add_bookitem(element,"search_book");
                            }else {
                                break;
                            }
                            
                        }
                    }else{
                        notfound();
                    }
                }
            }

            var get_date = function(str){
                var date= new Date(str);
                var year = date.getFullYear();//年
            　　var month = date.getMonth();//月
            　　var day = date.getDate();//日
            　　var hours = date.getHours();//时
            　　var min = date.getMinutes();//分
            　　var second = date.getSeconds();//秒

                return year+'年'+month+'月'+day+'日 '//+hours+'时'+min+'分'+second+'秒'
            }

            
        </script>
    </div>

    <div style="display: none;" id="search_book_panel" class="panel vertical border-bottom-coarse-solid-line border-wide-v-3
    border-right-coarse-solid-line border-left-coarse-solid-line shadow">
        <div class="title">搜索书籍</div>
        <div id="search_book"></div>
    </div>

    <div class="panel vertical border-bottom-coarse-solid-line border-wide-v-3
    border-right-coarse-solid-line border-left-coarse-solid-line shadow">
        <div class="title">最新添加书籍</div>
        <div id="show_newbook">还没有添加任何书籍！😊</div>
    </div>
</div>